* {
  box-sizing: border-box;
}
.navbar {
  color: #fbf2c0;
  letter-spacing: 2px;
  font-family: 24px "Open San", sans-serif;
  font-weight: bold;
  height: 70px;
  background-color: #43281c;
  display: flex;
  justify-content: center;
}
.nav-img {
  height: 30px;
  margin-top: 16px;
  margin-right: 5px;
}
.one {
  background: #eee1d5;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.two {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 15px;
}
.two-one {
  background-color: #eee1d5;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.two-two {
  background-color: #eee1d5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.four {
  background-color: white;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.main-card {
  display: grid;

  grid-template-columns: 1fr 1fr;

  column-gap: 20px;
}
.bottom {
  background-color: white;
  height: 100px;
}
.btn {
  width: 99%;
  height: 40px;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  background-color: #deb993;
}
.input-one {
  border: 2px #885a2d solid;
  border-radius: 30px;
  position: relative;
  width: 96%;
  margin: 10px;
  line-height: 4.5ex;
  background-color: #eee1d5;
}
.user-input-label {
  position: absolute;
  top: 8ex;
  z-index: 1;
  left: 2em;
  background-color: #eee1d5;
  z-index: 1;
  color: #885a2d;
}
.input-two-one {
  border: 2px #885a2d solid;
  border-radius: 30px;
  position: relative;
  width: 95%;
  align-self: center;
  line-height: 4.5ex;
  background-color: #eee1d5;
}
.input-two-two {
  border: 2px #885a2d solid;
  border-radius: 30px;
  position: relative;
  width: 30%;
  margin-left: 16px;
  margin-top: 10px;
  line-height: 4.5ex;
  background-color: #eee1d5;
}
.card-number {
  position: absolute;
  z-index: 1;
  top: 18.3rem;
  right: 31.5em;
  background-color: #eee1d5;
  color: #885a2d;
  z-index: 1;
}
.cvv {
  position: absolute;
  top: 21.3rem;
  z-index: 1;
  right: 31.5em;
  background-color: #eee1d5;
  color: #885a2d;
  font-weight: 100;
}
input:active {
  border: blue;
}
.four-one {
  word-spacing: 300px;
}
.four-two {
  word-spacing: 300px;
  font-weight: bold;
}
.one-text,
.two-text,
.three-text {
  word-spacing: 500px;
}
@media screen and (max-width:1200px) {
  .main-card{
    display: grid;
    grid-template-columns: 1fr;
  }

  
}
