* {
  box-sizing: border-box;
  box-shadow: #000;
}
.navbar {
  height: 50px;
  background-color: #43281c;
  display: flex;
  justify-content: center;
}
.nav-img {
  height: 50px;
}
.one {
  background: #000;
  height: 350px;
}
.two {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 15px;
}
.two-one {
  background-color: #eee1d5;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.two-two {
  background-color: #eee1d5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.four {
  background-color: aqua;
  height: 200px;
}
.main-card {
  display: grid;

  grid-template-columns: 1fr 1fr;

  column-gap: 20px;
}
.bottom {
  background-color: blueviolet;
  height: 100px;
}
.btn {
  width: 99%;
  height: 40px;
  border-radius: 20px;
  margin-left: 5px;
}
.input-one {
  border: 2px #885a2d solid;
  border-radius: 30px;
  position: relative;
  width: 96%;
  margin: 10px;
  line-height: 4.5ex;
  background-color: #eee1d5;
}
.user-input-label {
  position: absolute;
  top: 8ex;
  z-index: 1;
  left: 2em;
  background-color: #eee1d5;
  z-index: 1;
  color: #885a2d;
}
.input-two-one {
  border: 2px #885a2d solid;
  border-radius: 30px;
  position: relative;
  width: 95%;
  align-self: center;
  line-height: 4.5ex;
  background-color: #eee1d5;
}
.input-two-two {
  border: 2px #885a2d solid;
  border-radius: 30px;
  position: relative;
  width: 30%;
  margin-left: 16px;
  margin-top: 10px;
  line-height: 4.5ex;
  background-color: #eee1d5;
}
.card-number {
  position: absolute;
  top: 8ex;
  z-index: 1;
  top: 17em;
  right: 31.5em;
  background-color: #eee1d5;
  color: #885a2d;
  z-index: 1;
}
.cvv {
  position: absolute;
  top: 20rem;
  z-index: 1;
  right: 31.5em;
  background-color: #eee1d5;
  color: #885a2d;
  font-weight: 100;
}
input:active {
  border: blue;
}
